
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('cyberpunk.jpg') no-repeat center center fixed;
  background-size: cover;
  filter: blur(5px);
  z-index: -1; /* Enviar al fondo */
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none; /* No fondo en el body */
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.container {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  z-index: 1;
}

.card {
  border: none;
}

.card-body {
  padding: 1.25rem;
}

.footer {
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.footer p {
  margin: 0;
  color: #666;
  font-size: 0.9rem;
}
